data/
Cpipiens_S1_L001_R1_001.fastq.gz
Cpipiens_S1_L001_R2_001.fastq.gz
Mol1-5_S1_L001_R1_001.fastq.gz
Mol1-5_S1_L001_R2_001.fastq.gz
*.fastq
*.sam
*.bam
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.fa
*.fasta
*.bt2
readme.err
readme.log
results/2016-07-12/plots/*.dat
results/2016-07-12/plots/*.pdf
results/2016-07-12/plots/summary.aux
results/2016-07-12/plots/summary.log
results/2016-07-12/plots/summary.tex
results/2016-07-12/plots/plot.py
results/2016-07-12/plots/plot-vcfstats.log
